@keyframes slideUp {
    0%   { margin: 200px 0 0 0; }
    100% { margin: 0 0 0 0; }
}

$color-black1: #000000;
$color-black2: #1C1C1F;
$color-white1: #ffffff;
$color-blue1: #3123E5;

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    color: $color-black1;
    font-family: Inter, Roboto;
    background-color: $color-white1;
    font-size: 14px;
    line-height: normal;
    padding: 0;
    margin: 0;
    min-width: 414px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    // position: relative;
    // z-index: 1;
    min-width: 414px;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 20px;
}

.header__container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo {
    position: fixed;
    top: 25px;
    display: flex;
    align-items: center;
    width: 163px;
    height: 30px;
}

.header__nav-container {
    display: none;
}

.header__button-menu {
    position: relative;
    width: 46px;
    height: 18px;
}

.header__button-menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-black1;
}

.header__button-menu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-black1;
}

.main {
    width: 100%;
    box-sizing: border-box;
}

.block1 {
    padding: 0 20px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-name: slideUp;
    margin-bottom: 80px;
    animation-duration: 0.3s;
}

.block1__text {
    margin: 0;
    margin-bottom: 74px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
}

.block1__img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.block1__img-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block1__img-wrapper {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.block1__img {
    width: 100%;
    margin-bottom: 15px;
}

.block1__img-name {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
}

.block2 {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 170px;
}

.block2__headline {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}

.block2__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block2__list li {
    padding: 15px 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

.footer {
    background-color: $color-black1;
    color: $color-white1;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 20px 65px 20px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__logo {
    width: 163px;
    height: 30px;
    margin-bottom: 70px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 70px;
}

.contacts__mail {
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    text-decoration-line: underline;
    color: $color-white1;
    margin-bottom: 70px;
}

.contacts__social-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 80px;
}

.contacts__social-item {
    min-width: 90px;
    text-align: start;
    padding: 10px 0;
    margin: 0;
    margin-right: 50px;
}

.contacts__social-item a {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration-line: underline;
    color: $color-white1;
}

.footer__link {
    width: 100%;
    min-height: 48px;
    box-sizing: border-box;
    padding: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $color-white1;
    background-color: $color-blue1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


// page-project

.page__project {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: -131px;
}

.project__big-picture {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.project__headline {
    padding: 0 20px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 25px;
}

.project__task {
    margin-bottom: 25px;
    padding: 0 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
}

.project__task-headline {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    opacity: 0.5;
    margin: 0 0 10px 0;
}

.project__task-text {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
}

.project__paragraph {
    margin-bottom: 25px;
    padding: 0 20px;
}

.project__paragraph-headline {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 150%;
    margin-bottom: 25px;
}

.project__paragraph-text {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
}

.project__quote-wrapper {
    width: 100%;
    background-color: $color-black2;
}

.project__quote {
    padding: 20px 20px;
}

.project__quote-text {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    color: $color-white1;
}

.project__quote-logo {}

.page__next {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.next__container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.next__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    opacity: 0.5;
    margin: 0 0 10px 0;
    color: $color-black1;
}

.next__headline {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 150%;
    margin-bottom: 25px;
    color: $color-black1;
}

.next__picture {}


@media(min-width: 768px) {

    .header {
        padding: 45px 40px;
    }

    .header__container {
        margin: 0 auto;
        max-width: 1720px;
    }

    .header__button-menu {
        display: none;
    }

    .header__logo-wrapper {
        width: calc(100%/3);
    }

    .header__logo {
        top: 45px;
        height: 41px;
    }

    .header__nav-container {
        display: flex;
        flex-grow: 1;
    }

    .header__nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav-list {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 30px;
    }

    .header__nav-item {
        padding: 0;
        margin: 0;
        margin-right: 30px;
    }

    .header__nav-item:last-child {
        margin-right: 0;
    }

    .header__nav-item a {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: $color-black1;
    }

    .header__nav-link {
        padding: 10px 15px;
        box-sizing: border-box;
        color: $color-white1;
        background-color: $color-blue1;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        border-radius: 50px;
    }



    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block1 {
        padding: 0 40px;
        max-width: 1484px;
        margin-bottom: 100px;
        margin-top: 140px;
    }

    .block1__text {
        max-width: 1082px;
        font-size: 72px;
        margin-bottom: 140px;
    }

    .block1__img-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .block1__img-column1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        padding-right: 20px;
    }

    .block1__img-column2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        padding-left: 20px;
    }

    .block1__img-wrapper {
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
    }

    .block1__img {
        width: 100%;
        margin-bottom: 20px;
    }

    .block1__img-name {
        font-size: 30px;
        line-height: 36px;
    }

    .block2 {
        padding: 0 40px;
        box-sizing: border-box;
        width: 100%;
        max-width: 1484px;
    }

    .block2__headline {
        font-size: 22px;
    }

    .block2__list {
        flex-direction: row;
    }

    .block2__list li {
        flex-grow: 1;
        font-size: 36px;
        margin-right: 20px;
    }

    .block2__list li:last-child {
        margin-right: 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 70px 40px 260px 40px;
    }

    .footer__container {
        width: 100%;
        max-width: 1484px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .footer__logo {
        margin-bottom: 95px;
    }

    .footer__contacts {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }

    .contacts__mail {
        font-size: 64px;
        margin-bottom: 120px;
    }

    .contacts__social-list {
        justify-content: flex-start;
    }

    .contacts__social-item {
        min-width: 90px;
        text-align: start;
        padding: 10px 0;
        margin: 0;
        margin-right: 60px;
    }

    .contacts__social-item a {
        font-size: 20px;
    }

    .footer__link {
        width: 420px;
        min-height: 146px;
        padding: 45px;
        margin-left: auto;
        margin-top: 70px;
    }

    // page-project

    .page__project {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
    }

    .project__big-picture {
        width: 100%;
        margin-bottom: 75px;
    }

    .project__headline {
        margin: 0;
        max-width: 1024px;
        font-size: 72px;
        line-height: 87px;
        margin-bottom: 40px;
    }

    .project__task {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1024px;
        margin-bottom: 60px;
    }


    .project__task-text {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
    }

    .project__paragraph {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1024px;
        margin-bottom: 120px;
    }

    .project__paragraph-headline {
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 46px;
        line-height: 150%;
    }

    .project__paragraph-text {
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
    }

    .project__quote-wrapper {
        width: 100%;
        background-color: $color-black2;
        display: flex;
        justify-content: center;
    }

    .project__quote {
        padding: 80px 20px;
        max-width: 1024px;
    }

    .project__quote-text {
        padding: 0;
        margin: 0;
        margin-bottom: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 150%;
        color: $color-white1;
    }

    .project__quote-logo {}

    .page__next {
        margin-bottom: 80px;
    }

    .next__container {
        max-width: 1024px;
        margin-bottom: 190px;
        align-items: center;
    }

    .next__subtitle {
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        opacity: 0.5;
    }

    .next__headline {
        padding: 0;
        margin: 0;
        margin-bottom: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 46px;
        line-height: 150%;
        text-align: center;
    }

    .next__picture {}





}